In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
f = open('store.pckl', 'rb')
dictionary = pickle.load(f)
f.close()

In [3]:
dt = pd.DataFrame.from_dict(dictionary)
dt.drop(columns='total_data',inplace=True)

In [4]:
xtest = pd.read_csv('./test.csv')

ytest = pd.read_csv('./y_df_test.csv')

In [171]:
xtest.columns.values[148]

'john'

In [172]:
ytest

      ans
0       9
1       2
2       6
3       6
4       5
5      10
6      14
7      16
8       2
9      15
10      9
11     10
12     16
13     19
14      3
15     17
16      8
17     12
18      1
19      0
20     18
21      6
22      8
23      2
24      2
25      0
26     12
27     12
28      5
29     19
...   ...
3970   10
3971    8
3972   15
3973    3
3974   11
3975   16
3976    1
3977    2
3978    9
3979   15
3980   18
3981    6
3982    8
3983   11
3984    7
3985    2
3986   16
3987   16
3988   17
3989   17
3990    2
3991   15
3992   10
3993   16
3994    2
3995   15
3996    6
3997    4
3998   12
3999   17

[4000 rows x 1 columns]

In [147]:
xtest.shape[0]

4000

In [119]:
xtest.iloc[0][148]
l=dict()
l.update({xtest.columns.values[148]: xtest.iloc[0][148]})
l

{'john': 2.0}

In [120]:
xtest.iloc[121,:].sum()

173.0

In [74]:
final = []
type(final)

list

In [84]:
final = []
for row in range(int(xtest.shape[0]//200)):

    prob = np.zeros(20)
    for col in range(xtest.iloc[row].shape[0]):
        for x in range(20):
            prob[x]=prob[x]+np.log(xtest.iloc[row,col] + 1)-np.log(dt.loc[list(xtest.columns)[col]][x] + 1)

    final.append(prob.argmin())

In [85]:
# final = np.array(final)
# final.shape
len(final)

20

In [8]:
lol=0
new = ytest.iloc[0:400,:]
lol= lol + ((new.iloc[:,-1] - final)==0).sum()
lol

/home/sidkathuria14/.local/lib/python3.5/site-packages/pandas/core/computation/check.py:17: UserWarning: The installed version of numexpr 2.4.3 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

14

In [9]:
acc = lol / final.shape[0]
acc

0.035

In [88]:
final

[12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12]

In [28]:
y_df_test = pd.read_csv?

In [45]:
y_df_test = pd.read_csv('y_df_test.csv')

In [81]:
# my_list =  int(y_df_test.columns)
my_list =list(y_df_test.iloc[:,0])
my_list.insert(int(y_df_test.columns[0]),0)

In [82]:
set(my_list)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [86]:
from sklearn.metrics import classification_report
print(classification_report(final[20:],my_list[:20]))

ValueError: Found input variables with inconsistent numbers of samples: [0, 20]

In [55]:
pd.DataFrame(final).to_csv('final.csv',index = False)
# final
#

In [57]:
%store final

Stored 'final' (list)

In [59]:
dt.loc['cheer']

0     11
1     10
2      5
3     39
4      9
5      8
6      1
7      7
8     27
9      8
10    20
11     9
12     9
13     8
14    12
15    21
16    20
17     2
18     4
19     5
Name: cheer, dtype: int64